{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="frame p-3">
        <div class="login-header">
            <img src="{% static 'images/lock-icon.png' %}" alt="Lock Icon" class="lock-icon">
        </div>
        <h2>Login Now</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password }}
            </div>
            <div class="form-group form-check">
                {{ form.remember_me }}
                <label class="form-check-label" for="remember_me">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="{% url 'password_reset' %}" class="forgot-password">Forgot password?</a>
        <a href="{% url 'signup' %}" class="signup">Don't have an account?</a>
    </div>
</div>
{% endblock %}
