{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="dashboard-container">
    <div class="frame">
        <h2>Winning Numbers</h2>
        <div class="numbers-container">
            {% for number in winning_numbers.numbers.split(',') %}
                <div class="number-sphere">{{ number }}</div>
            {% endfor %}
            <div class="bonus-sphere">{{ winning_numbers.bonus }}</div>
        </div>
    </div>
    <div class="frame">
        <h2>Next Drawing</h2>
        <div class="countdown-container">
            <div class="countdown-item">
                <span id="days"></span>
                <div>Days</div>
            </div>
            <div class="countdown-item">
                <span id="hours"></span>
                <div>Hours</div>
            </div>
            <div class="countdown-item">
                <span id="minutes"></span>
                <div>Minutes</div>
            </div>
            <div class="countdown-item">
                <span id="seconds"></span>
                <div>Seconds</div>
            </div>
        </div>
    </div>
    <div class="frame">
        <h2>Winners</h2>
        <div class="winner-info">
            <p>{{ winning_numbers.draw_date|date:"D, M j, Y" }}</p>
            <p>Powerball</p>
            <p><strong>Jackpot Winners</strong></p>
            <p class="jackpot-winner">{{ "None" if not jackpot_winners else jackpot_winners }}</p>
            <p><strong>Match 5 + Power Play</strong></p>
            <p>$2 Million Winners</p>
            <p>{{ match5_power_play_winners|default:"None" }}</p>
            <p><strong>Match 5</strong></p>
            <p>$1 Million Winners</p>
            <p>{{ match5_winners|default:"None" }}</p>
        </div>
    </div>
</div>
{% endblock %}
