<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <button id="checkout-button">Pagar ahora</button>
    <script type="text/javascript">
        var stripe = Stripe('{{ stripe_publishable_key }}');

        document.getElementById('checkout-button').addEventListener('click', function () {
            fetch('/create-checkout-session/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    amount: 1000  // Ejemplo de cantidad, ajusta según sea necesario
                }),
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                if (session.error) {
                    alert(session.error);
                } else {
                    stripe.redirectToCheckout({ sessionId: session.id });
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
