<!-- core/templates/core/payment.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar</title>
</head>
<body>
    <button id="checkout-button">Pagar</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('{{ stripe_publishable_key }}'); // Reemplaza con tu clave publicable

        document.getElementById('checkout-button').addEventListener('click', async () => {
            const response = await fetch('/create-checkout-session/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            });

            const session = await response.json();

            if (session.id) {
                stripe.redirectToCheckout({ sessionId: session.id });
            } else {
                console.error('Error creating checkout session:', session.error);
            }
        });
    </script>
</body>
</html>
