{% extends "base_generic.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winners</title>
    <link rel="stylesheet" href="{% static 'core/css/winner/winners.css' %}">
</head>
<body>
    <h1>Winners</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Numbers</th>
                <th>Additional Number</th>
                <th>Win Amount</th>
                <th>Win Type</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in winners %}
                <tr>
                    <td>{{ ticket.user.username }}</td>
                    <td>{{ ticket.numbers }}</td>
                    <td>{{ ticket.bonus }}</td>
                    <td>${{ ticket.win_amount }}</td>
                    <td>{{ ticket.win_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
