:root {
    --primary-dark: #8A2601;
    --primary-light: #FEEAC6;
    --accent-1: #E8690E;
    --accent-2: #FFA400;
    --text-light: #000000;
    --text-dark: #8A2601;
    --success: #4CAF50;
    --warning: #FFA400;
    --table-row-odd: #FFFFFF;
    --table-row-even: #FEEAC6;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-dark);
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-light);
}

.header-container {
    background-color: var(--primary-light);
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--accent-1);
}

.frame {
    background-color: var(--primary-light);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    color: var(--text-dark);
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    box-sizing: border-box;
}

.footer {
    background-color: var(--primary-light);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ticket-frame, .quantity-frame {
    flex: 1;
    margin-right: 10px;
    border: 1px solid var(--accent-2);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--primary-light);
    margin: 5px;
}

.quantity-frame {
    margin-right: 0;
}

.number-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.number-label, .bonus-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--accent-2);
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.number-label input, .bonus-label input {
    display: none;
}

.number-label span, .bonus-label span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.number-label input:checked + span, .bonus-label input:checked + span {
    background-color: var(--accent-2);
    color: var(--text-light);
}

.btn {
    background-color: var(--accent-2);
    color: var(--text-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-1);
}

.success-message {
    color: var(--success);
}

.warning-message {
    color: var(--warning);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--primary-light);
}

.table tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

.table tr:nth-child(even) {
    background-color: var(--table-row-even);
}

.profile-container, .deposit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-light);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

.profile-container form, .deposit-frame form {
    width: 100%;
    max-width: 500px;
}

.profile-container .form-group, .deposit-frame .form-group {
    margin-bottom: 15px;
}

.profile-container .form-group label, .deposit-frame .form-group label {
    display: block;
    color: var(--text-light);
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-container .form-group input, .deposit-frame .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--accent-1);
    background-color: var(--primary-dark);
    color: var(--text-light);
}

.profile-container .btn-primary, .deposit-frame .btn {
    background-color: var(--accent-2);
    color: var(--text-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-container .btn-primary:hover, .deposit-frame .btn:hover {
    background-color: var(--accent-1);
}

.cart-icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-icon {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon img {
    width: 100%;
    height: 100%;
}

.cart-icon span {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--accent-2);
    color: var(--text-light);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.login-container, .signup-container {
    /*width: 50px;  Ajusta el ancho según sea necesario */
    /*height: 50px;  Ajusta la altura según sea necesario */
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group input::placeholder {
    color: var(--text-dark);
    opacity: 0.5;
}

.form-group input:focus::placeholder {
    opacity: 0;
}

.forgot-password,
.signup {
    display: block;
    margin-top: 10px;
    color: var(--accent-2);
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover,
.signup:hover {
    color: var(--accent-1);
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-light);
}

.countdown-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.countdown-item span {
    font-weight: bold;
    margin-right: 5px;
}

.jackpot {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--accent-2);
}

.language-selector {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.language-selector img {
    width: 50px;
    height: 50px;
}

.top-left-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Fondo transparente */
    padding: 10px;
}

.language-selector button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
}

.language-selector img {
    width: 50px;
    height: 50px;
    background-color: transparent; /* Fondo transparente */
}

.lock-icon img {
    width: 80px;
    height: 80px;
    background-color: transparent; /* Fondo transparente */

}