<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Cyber Loto Bank{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>My Cyber Loto Bank</h1>
            <nav>
                <ul class="navbar">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'deposit' %}">Deposit</a></li>
                        <li><a href="{% url 'purchase_ticket' %}">Purchase Ticket</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Cart Icon -->
            <div class="cart-icon">
                <a href="{% url 'view_cart' %}">
                    <img src="{% static 'images/cart-icon.png' %}" alt="Cart Icon">
                    <span id="cart-count">{{ request.user.cart.cartitem_set.count|default:"0" }}</span>
                </a>
            </div>
        </div>
    </header>
    <main class="wrapper">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
