:root {
    --primary-dark: #000000;
    --primary-light: #F2F2F2;
    --accent-1: #E31D1A;
    --accent-2: #FFFFFF;
    --text-light: #FFFFFF;
    --text-dark: #000000;
    --background-blue: #4AA6FB;
    --border-gray: #bdbdbd;
    --background-hover: #f5f5f5;
}

body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, var(--primary-dark) 0%, var(--background-blue) 100%);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: var(--primary-dark);
    color: var(--text-light);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    font-size: 14px;
}

.menu-frame {
    background-color: var(--accent-2);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navbar-container {
    background-color: transparent;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    display: block;
    color: var(--text-dark);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: var(--background-hover);
    color: var(--text-dark);
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.frame {
    background-color: var(--accent-2);
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    min-width: 300px;
}

.numbers, .bonus {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.number {
    width: 50px;
    height: 50px;
    background-color: var(--accent-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.bonus-number {
    background-color: var(--accent-1);
    color: var(--text-light);
}

.countdown-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.countdown-item {
    text-align: center;
    margin: 10px;
}

.winners p {
    font-size: 18px;
    font-weight: bold;
}

.footer {
    background-color: var(--primary-dark);
    color: var(--text-light);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
