:root {
    --primary-dark: #2E3A59;   /* Lighter dark blue for main background */
    --primary-light: #F0F0F0;  /* Light grey for secondary backgrounds */
    --accent-1: #5072A7;       /* Lighter deep blue for accents */
    --accent-2: #CC3A3A;       /* Brighter red for highlights and calls-to-action */
    --text-light: #3b3838;     /* White for text on dark backgrounds */
    --text-dark: #2E3A59;      /* Lighter dark blue for text on light backgrounds */
    --success: #4CAF50;        /* Green for success messages */
    --warning: #FFC107;        /* Yellow for warnings */
    --table-row-odd: #FFFFFF;  /* White background color for odd rows */
    --table-row-even: #a89e9e; /* Light grey background color for even rows */
}

}

body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-dark);
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-light);
}

.header-container {
    background-color: var(--primary-light);
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--accent-1);
}

.frame {
    background-color: var(--primary-light);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    color: var(--text-dark);
}

.footer {
    background-color: var(--primary-light);
    color: var(--text-dark);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ticket-frame {
    border: 1px solid var(--accent-2);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--primary-light);
    width: 48%;
    margin: 5px;
    color: var(--text-dark);
}

.quantity-frame {
    border: 1px solid var(--accent-2);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--primary-light);
    width: 48%;
    margin: 5px;
    color: var(--text-dark);
}

#tickets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.number-label, .bonus-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--accent-2);
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    color: var(--text-dark);
}

.number-label input, .bonus-label input {
    display: none;
}

.number-label span, .bonus-label span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-light);
}

.number-label input:checked + span, .bonus-label input:checked + span {
    background-color: var(--accent-2);
    color: var(--text-dark);
}

.btn {
    background-color: var(--accent-2);
    color: var(--text-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-1);
}

.success-message {
    color: var(--success);
}

.warning-message {
    color: var(--warning);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--primary-dark);
    color: var(--text-dark);
}

.table tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

.table tr:nth-child(even) {
    background-color: var(--table-row-even);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-light);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    color: var(--text-dark);
}

.profile-container h2 {
    color: var(--text-dark);
    margin-bottom: 20px;
}

.profile-container form {
    width: 100%;
    max-width: 500px;
}

.profile-container .form-group {
    margin-bottom: 15px;
}

.profile-container .form-group label {
    display: block;
    color: var(--text-dark);
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-container .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--accent-1);
    background-color: var(--primary-light);
    color: var(--text-dark);
}

.profile-container .btn-primary {
    background-color: var(--accent-2);
    color: var(--text-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-container .btn-primary:hover {
    background-color: var(--accent-1);
}

.deposit-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.deposit-frame {
    background-color: var(--primary-light);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    color: var(--text-dark);
}

.deposit-frame img {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.deposit-frame h2 {
    color: var(--text-dark);
    margin-bottom: 15px;
}

.deposit-frame p {
    color: var(--text-dark);
    margin-bottom: 15px;
}

.deposit-frame .btn {
    background-color: var(--accent-2);
    color: var(--text-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deposit-frame .btn:hover {
    background-color: var(--accent-1);
}

/* Login specific styles */
.login-frame {
    background-color: var(--primary-light);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.login-frame h2 {
    color: var(--text-dark);
    margin-bottom: 20px;
}

.login-frame form {
    width: 100%;
}

.login-frame .form-group {
    margin-bottom: 20px;
}

.login-frame .form-group label {
    display: block;
    color: var(--text-dark);
    font-weight: bold;
    margin-bottom: 5px;
}

.login-frame .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--accent-1);
    background-color: var(--primary-light);
    color: var(--text-dark);
}

.login-frame .btn-primary {
    background-color: var(--accent-2);
    color: var(--text-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-frame .btn-primary:hover {
    background-color: var(--accent-1);
}

.login-frame .forgot-password,
.login-frame .signup {
    display: block;
    margin-top: 10px;
    color: var(--accent-2);
    text-decoration: none;
    font-size: 14px;
}

.login-frame .forgot-password:hover,
.login-frame .signup:hover {
    color: var(--accent-1);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--primary-light);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--accent-2);
    width: 80%;
    max-width: 500px;
    color: var(--text-dark);
    border-radius: 10px;
}

.close {
    color: var(--accent-2);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--accent-1);
    text-decoration: none;
    cursor: pointer;
}

/* Small icon class */
.small-icon {
    width: 25%;
}